@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

h1 {
    font-size: clamp(2rem, 2rem + 3vw, 3.2rem);
}

h2 {
    font-size: clamp(1.3rem, 3vw + 1rem, 2.8rem);
}

#text-between {
    display: flex;
    gap: 8px;
    font-size: 1.2rem;
}

#text-between::before,
#text-between::after {
    content: '';
    background-color: #c4c4c4;
    height: 1px;
    flex: 1;
    margin: auto;
}

.main-nav-item {
    color: rgb(203, 203, 203);
    position: relative;
    padding-bottom: 4px;
}

.main-nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.5s;
}

.main-nav-item:hover::before {
    width: 90%;
}

.active {
    border-bottom: 2px solid white;
    color: white;
}

.active::before {
    content: none;
}
.active:hover:before {
    content: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #112d4e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f72af;
    /* border-radius: 5px; */
}
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */
