@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

h1 {
    font-size: clamp(2rem, 2rem + 3vw, 3.2rem);
}

h2 {
    font-size: clamp(1.3rem, 3vw + 1rem, 2.8rem);
}

#text-between {
    display: flex;
    gap: 8px;
    font-size: 1.2rem;
}

#text-between::before,
#text-between::after {
    content: '';
    background-color: #c4c4c4;
    height: 1px;
    flex: 1;
    margin: auto;
}
